# vim: ft=swayconfig

for_window {
  [window_role="pop-up"] floating enable
  [window_role="bubble"] floating enable
  [window_role="dialog"] floating enable
  [window_type="dialog"] floating enable
  [window_role="pop-up"] resize set 80ppt 80ppt
  [window_role="bubble"] resize set 80ppt 80ppt
  [window_role="dialog"] resize set 80ppt 80ppt
  [window_type="dialog"] resize set 80ppt 80ppt
  [app_id="xdg-desktop-portal-gtk"] resize set 80ppt 80ppt
  [app_id="chromium"] floating disable
  [app_id="float"] floating enable
  [app_id="float"] resize set 80ppt 80ppt
  [app_id="scratchpad"] floating enable
  [app_id="scratchpad"] resize set 80ppt 80ppt
  [app_id="firefox" title="Firefox — Sharing Indicator"] floating enable
  [app_id="imv"] floating enable
  [app_id="imv"] splith
  [app_id="Slack"] move workspace $slack-workspace
  [app_id="ferdium"] move workspace $ferdium-workspace
  [app_id="thunderbird"] move workspace $mail-workspace
  # [title="Spotify"] move workspace $music-workspace
  [app_id="qemu"] shortcuts_inhibitor enable
  [app_id="virt-manager"] shortcuts_inhibitor enable
  [app_id="drawio"] floating enable
}
