[submodule "submodules/.config/nvim"]
path = submodules/.config/nvim
branch = main
url = ../nvim-config.git
[submodule "submodules/.config/emacs"]
path = submodules/.config/emacs
branch = main
url = ../emacs-config.git
[submodule "submodules/.themes"]
path = submodules/.themes
branch = main
url = ../b16-themes.git
