plugins/
.zcompdump*
.zcompcache
*.bak
*.DS_store
.zsh_history
.zsh_sessions/

X11/.Xresources.conf.d/colours
apps/.config/alacritty/colours.toml
apps/.config/kitty/colours.conf
apps/.config/zathura/zathurarc
wm/.config/bspwm/bspwmrc
wm/.config/polybar/colours.ini
wm/.config/sway/colours
wm/.config/sway/display_config.sh
wm/.config/sway/display-config.sh
wm/.config/waybar/colours.css
wm/.config/swaync/colours.css
wm/.config/swaylock/config
vifminfo.json
vifminfo*
vifm-help.txt
backend.hcl

# Local .terraform directories
*.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
*.terraformrc
*terraform.rc
backend.hcl
backend.tfvars

.env
.aws-sam
serverless/events
serverless/env.json

dist

terraform.tfvars
