[submodule "submodules/.themes"]
	path = submodules/.themes
	url = https://github.com/afneville/b16-themes
	branch = main
[submodule "submodules/.config/nvim"]
	path = submodules/.config/nvim
	url = https://github.com/afneville/nvim-config
	branch = main
[submodule "submodules/.config/emacs"]
	path = submodules/.config/emacs
	url = https://github.com/afneville/emacs-config
	branch = main
