plugins/
.zcompdump*
.zcompcache
*.bak
*.DS_store
.zsh_history
.zsh_sessions/

X11/.Xresources.conf.d/colours
apps/.config/alacritty/colours.toml
apps/.config/kitty/colours.conf
apps/.config/zathura/zathurarc
wm/.config/bspwm/bspwmrc
wm/.config/polybar/colours.ini
wm/.config/sway/colours
wm/.config/sway/display_config.sh
wm/.config/sway/display-config.sh
wm/.config/waybar/colours.css
vifminfo.json
vifminfo*
vifm-help.txt
