plugins/
.zcompdump
*.bak
*.DS_store

X11/.Xresources.conf.d/colours
apps/.config/alacritty/colours.yml
apps/.config/kitty/colours.conf
apps/.config/zathura/zathurarc
wm/.config/bspwm/bspwmrc
wm/.config/polybar/colours.ini
