@import 'colours.css';

* {
  border: none;
  border-radius: 0;
  font-family: "VictorMono Nerd Font", "sans-serif";
  font-size: 12pt;
  min-height: 0;
  margin: 0;
  padding: 0;
}

.modules-right,
.modules-left {
  border-bottom: 2px solid @border;
}

window#waybar {
  color: @fg;
  background-color: @bg;
  border-bottom: 2px solid @border;
}

#mode {
  color: @orange;
  /* color: @bg; */
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces {
  color: @fg;
  background-color: @bg;
}

#workspaces button {
  color: @border;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: bold;
}

#workspaces button.visible {
  color: @border;
}

#workspaces button.focused {
  color: @fg;
}

/* #workspaces button.persistent-workspace { */
/*   color: @red; */
/*   font-weight: normal; */
/* } */

#workspaces button.urgent {
  color: @bg;
  background-color: @red;
  font-weight: normal;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: @bg;
    border: @border;
}

#workspaces button.visible:hover {
    background: @border;
}

#workspaces button.focused:hover {
    background: @blue;
}

/* #workspaces button.visible:nth-child(14), */
/* #workspaces button.focused:nth-child(14), */
/* #workspaces button:nth-child(14), */
/* #workspaces button.visible:nth-child(13), */
/* #workspaces button.focused:nth-child(13), */
/* #workspaces button:nth-child(13), */
/* #workspaces button.visible:nth-child(12), */
/* #workspaces button.focused:nth-child(12), */
/* #workspaces button:nth-child(12), */
/* #workspaces button.visible:nth-child(11), */
/* #workspaces button.focused:nth-child(11), */
/* #workspaces button:nth-child(11) { */
/*   margin-left: 0; */
/*   margin-right: 0; */
/*   padding-left: 0; */
/*   padding-right: 0; */
/*   background-color: @bg; */
/*   color: @bg; */
/* } */
#workspaces button.visible:nth-last-child(4),
#workspaces button.focused:nth-last-child(4),
#workspaces button:nth-last-child(4),
#workspaces button.visible:nth-last-child(3),
#workspaces button.focused:nth-last-child(3),
#workspaces button:nth-last-child(3),
#workspaces button.visible:nth-last-child(2),
#workspaces button.focused:nth-last-child(2),
#workspaces button:nth-last-child(2),
#workspaces button.visible:nth-last-child(1),
#workspaces button.focused:nth-last-child(1),
#workspaces button:nth-last-child(1) {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: @bg;
  color: @bg;
}

.modules-right {
  color: @fg;
}

#network,
#pulseaudio,
#disk,
#cpu,
#memory,
#temperature,
#clock,
#backlight,
#battery {
  /* color: @bg; */
  padding-left: 5px;
}

#pulseaudio,
#clock,
#disk {
  margin-left: 15px;
}
#network,
#temperature,
#battery {
  padding-right: 5px;
}

#network,
#pulseaudio {
  /* background-color: @magenta; */
  color: @magenta;
}

#disk,
#cpu,
#memory,
#temperature {
  /* background-color: @cyan; */
  color: @cyan;
}

#clock,
#backlight,
#battery {
  /* background-color: @green; */
  color: @green;
}

#custom-notification, #tray {
  /* background-color: @border; */
  margin-left: 6px;
  padding-left: 2px;
  padding-right: 2px;
}
