@import 'colours.css';

* {
  border: none;
  border-radius: 0;
  font-family: "VictorMono Nerd Font", FontAwesome, Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 9pt;
  min-height: 0;
  margin: 0;
  padding: 0;
}
.modules-right,
.modules-left {
  border-bottom: 2px solid @border;
}

window#waybar {
  color: @fg;
  background-color: @bg;
  border-bottom: 2px solid @border;
}

#workspaces {
  color: @border;
  background-color: @bg;
  /* margin-top: 5px; */
  /* margin-left: 5px; */
  /* margin-bottom: 7px; */
  /* border-radius: 8px; */
  /* padding: 0px 2px; */
}
#workspaces button {
  color: @fg;
  font-weight: bold;
}

#workspaces button.visible {
  background-color: @green;
  color: @bg;
  font-weight: bold;
}

#workspaces button.focused {
  background-color: @blue;
  color: @bg;
  font-weight: bold;
}


#workspaces button.persistent {
  color: @border;
  font-weight: normal;
}

.modules-right {
  color: @fg;
}

#network,
#pulseaudio,
#disk,
#cpu,
#memory,
#temperature,
#clock,
#backlight,
#battery {
  color: @bg;
  padding-left: 5px;
}

#clock,
#disk {
  margin-left: 15px;
}
#network,
#temperature,
#battery {
  padding-right: 5px;
}

#network,
#pulseaudio {
  background-color: @magenta;
}


#disk,
#cpu,
#memory,
#temperature {
  background-color: @blue;
}

#clock,
#backlight,
#battery {
  background-color: @green;
}
